.background-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1; /* Se coloca detrás de todo */
}

.floating-burger {
  position: absolute;
  width: 70px;
  opacity: 0.8;
  animation: float 10s infinite linear;
}
.floating-papas {
  position: absolute;
  width: 80px;
  opacity: 0.8;
  animation: float 10s infinite linear;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
